.squares{
    width: 30%;
    margin: 1%;
    padding: 3%;
}

.list{
    list-style-type: none;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    padding-inline-start: 1%;
}

.list li{
    width: 80%;
    height: 25px;
    background-color: #eec29e;
    border-radius: 10px;
    color:#332010;
    font-size: 16px;
    font-weight: bolder;
    text-align: start;
    margin: 1%;
    padding: 3%;
}